.overview {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #bdb7b7;
}

.viewAmt {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.viewrateUp {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: small;
    padding: 2px 5px;
    border-radius: 15px;
    background-color: #b1f8b1;
}
.viewrateDown {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: small;
    padding: 2px 5px;
    border-radius: 15px;
    background-color: #f5d1d1;
}

