.sidebar {
    flex: 1;
    height: calc(100vh - 50px);
    background-color: #1C4E80;
    color: #f1f1f1;
    position: sticky;
    top: 50px;
}

.items {
    padding: 5px;
    cursor: pointer;
    font-size: large;
    border-radius: 10px;
    list-style: none;

}

.itemLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #f1f1f1;
}

.items.active, .items:hover {
    background-color: #4877a7;
}

.icons {
    margin-right: 5px;
}

.sidebarMenu {
    padding: 10px 20px;
}
.sidebarTitle {
    color: #7E909A;
}